<html>
  <head> 
    <style>
      .left{
        width: 100px;
        border: 1px solid red;
        float: left;
      }
      .content{
        border: 10px solid green;
        margin:0 100px;
        min-width: 100px;
      }
      .right{
        width: 100px;
        border: 1px solid red;
        float: right;
      }
    </style>
  </head>
  <body>
    <div class="wrap">
      <div class="left">left</div>
      <div class="right">right</div>
      <div class="content">content</div>
    </div>
  </body>
</html>